* {
  font-family: 'Lato', sans-serif;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  --dark: #2f313a;
  --white: #ffffff;
  --red: #7f0d0d;
}

body {
  margin: 0;
  padding: 0;
  font-size: 54px;
  font-weight: 300;
  margin: 0 0 58px;
  background-color: var(--white);
  color: var(--dark);
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 54px;
  font-weight: 300;
  margin: 0 0 58px;
  background-color: white;
  color: var(--red);
}

.quote-div {
  margin-top: 10%;
  width: 50%;
  margin-left: 30%;
}

.quote {
  margin-top: 10%;
  font-size: 34px;
  font-style: italic;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-transform: Uppercase;
}

.quote-author {
  font-size: 32px;
  font-style: italic;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--red);
}

.space-top {
  vertical-align: bottom;
  margin-top: 50px;
  margin-left: 10px;
}

/*** NAVBAR START ***/
.title-header1 {
  font-size: 100px;
  color: var(--red);
  font-weight: 900;
}

.title-header2 {
  font-size: 100px;
  color: var(--black);
  font-weight: 900;
}

.navbar {
  width: 0px;
  line-height: 48px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 0px;
  font-weight: 300;
  text-align: left;
  color: black;
  font-size: xx-large;
}

.navbar-link {
  color: black;
  font-size: xx-large;
  text-decoration: none;
}

.navbar-link:focus {
  color: var(--red) !important;
  background: white !important;
}

.navbar-link:hover {
  color: var(--red);
  font-size: xx-large;
}

/*** NAVBAR END ***/

/** Entities **/
.entity-table {
  display: inline-table;
  transform: scale(0.75);
  width: 1500px;
  margin: 0 0px 0px 0px;
  border-collapse: collapse;
}

.entity-table h3 {
  text-align: left;
  color: var(--dark);
  font-size: xx-large;
}

.entity-thumb {
  text-align: left;
  transition: var(--trans);
  border-radius: 0.25em;
  overflow: hidden;
}

.entity-thumb img {
  width: 240px;
  height: 240px;
  border-radius: 0.25em;
  filter: grayscale(1);
}

.entity-description {
  display: flex;
  text-align: left;
  padding-top: 1vmin;
  font-size: 0.3em;
  width: 90%;
  height: 250px;
  overflow: auto;
  font-size: x-large;
  vertical-align: top;
  margin-left: 50px;

}

.entity-description p {
  padding: 0 2em;
  margin-bottom: 1em;
}

.entity-description p a {
  display: inline-block;
  margin: 0.5em 0 0 0;
  background: var(--white);
  color: var(--dark);
  padding: 0.1em 0.5em 0.35em;
  border-radius: 0.5em;
  text-decoration: none;
  transition: var(--trans);
}

.entity-button {
  display: inline-block;
  width: 150px;
  margin: 0.5em 0 0 0;
  background: var(--red);
  color: var(--white);
  padding: 0.1em 0.5em 0.35em;
  border-radius: 0.5em;
  font-size: x-large;
  text-decoration: none;
  transition: var(--trans);
}

.entity-button:hover {
  display: inline-block;
  margin: 0.5em 0 0 0;
  background: var(--dark);
  color: var(--white);
  padding: 0.1em 0.5em 0.35em;
  border-radius: 0.5em;
  text-decoration: none;
  transition: var(--trans);
  filter: drop-shadow(0px 8px 8px var(--dark));
}

/*** articles ***/
.articles {
  width: 50%;
  margin-left: 30%;
}

.l-card {
  width: auto;
  min-width: 260px;
  max-width: 3080px;
  height: auto;
  background: #f5f5f5;
  color: var(--dark);
  padding: 30px;
  box-shadow: 0px 7px 24px rgba(100, 100, 100, 0.4);
  text-decoration: none;
  margin-bottom: 15px;
}

.l-card:hover {
  filter: drop-shadow(0px 6px 6px var(--dark));
}

.l-card__text p {
  font-size: 30px;
  font-weight: 400;
  color: #3f3f55;
  text-align: left;
}

.l-card__text p::after {
  content: "\201D";
  display: inline;
  color: #999;
}

.l-card__text p::before {
  content: "\201C";
  display: inline;
  color: #999;
}

.l-card__user {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  margin-top: 12px;
  /* border-top: 1px solid #c1c1c1; */
  align-items: center;
}

.l-card__userImage {
  width: 62px;
  height: 62px;
  overflow: hidden;
  border-radius: 50%;
}

.l-card__userImage img {
  width: 100%;
  height: 100%;
  object-filt: cover;
}

.l-card__userInfo {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.l-card__userInfo span:nth-child(1) {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
  color: #3f3f55;
}

.l-card__userInfo span:nth-child(2) {
  color: #adada6;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 2px;
}

/*________________________________________________________________________________________________________________________________*/
/** News paper CSS - For articles **/
/*________________________________________________________________________________________________________________________________*/
.news-paper-body {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  color: #2f2f2f;
  background-color: #f9f7f1;
}

header {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
}

.news-paper-p {
  margin-top: 0;
  margin-bottom: 20px;
}

.news-paper-head {
  text-align: center;
  padding-left: 400px;
}

.headerobjectswrapper {}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 12px 0 12px 0;

}

.weatherforcastbox {
  position: relative;
  width: 12%;
  left: 10px;
  border: 3px double #2f2f2f;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
  display: inline-block;
  margin: 0 50px 20px -360px;
}

.content {
  font-size: 0;
  line-height: 0;
  word-spacing: -.31em;
  display: inline-block;
  margin: 30px 2% 0 2%;


}

.collumns {}

.collumn {
  font-size: 14px;
  line-height: 20px;
  width: 17.5%;
  display: inline-block;
  padding: 0 1% 0 1%;
  vertical-align: top;
  margin-bottom: 50px;
  transition: all .7s;
}

.collumn+.collumn {
  border-left: 1px solid #2f2f2f;
}

.collumn .headline {
  text-align: center;
  line-height: normal;
  font-family: 'Playfair Display', serif;
  display: block;
  margin: 0 auto;


}

.collumn .headline.hl1 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;

}

.collumn .headline.hl2 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl2:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 13px;
  display: block;
  margin: 0 auto;

}

.collumn .headline.hl3 {
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
  text-decoration: none;
  color: var(--black) !important;
}

.collumn .headline.hl3:hover {
  color: var(--red) !important;
}

.collumn .headline.hl3:focus {
  color: var(--red) !important;
  ;
}

.collumn .headline.hl4 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl4:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl4:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;

}

.collumn .headline.hl5 {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl6:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl6:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;

}

.collumn .headline.hl7 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl8 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl9 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl10 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .citation {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  line-height: 44px;
  /*font-style: italic;*/
  text-align: center;
  font-weight: 400;
  display: block;
  margin: 40px 0 40px 0;
  font-feature-settings: "liga", "dlig";

}

.collumn .citation:before {
  border-top: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}

.collumn .citation:after {
  border-bottom: 1px solid #2f2f2f;
  content: '';
  width: 100px;
  height: 16px;
  display: block;
  margin: 0 auto;
}

.collumn .figure {
  margin: 0 0 20px;
}

.collumn .figcaption {
  font-style: italic;
  font-size: 12px;
}

.media {
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
  width: 100%;
}

/*________________________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/
@media only all and (max-width: 1300px) {
  .weatherforcastbox {
    display: none;
  }

}

@media only all and (max-width: 1200px) {
  .collumn {
    width: 31%;
  }

}

@media only all and (max-width: 900px) {
  .collumn {
    width: 47%;
  }

}

@media only all and (max-width: 600px) {
  .collumn {
    width: 100%;
  }

  .collumn+.collumn {
    border-left: none;
    border-bottom: 1px solid #2f2f2f;
  }

  header {
    max-width: 320px;
    font-size: 60px;
    line-height: 54px;
    overflow: hidden;
  }

}