HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

## IMAGES
arquivo-web/public/images/*


### npm modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
arquivo-web/node_modules
arquivo-web/.pnp
arquivo-web/.pnp.js

# testing
arquivo-web/coverage

# production
arquivo-web/build

# misc
arquivo-web/.env
arquivo-web/vite.config.js
arquivo-web/.DS_Store
arquivo-web/.env.local
arquivo-web/.env.development.local
arquivo-web/.env.test.local
arquivo-web/.env.production.local

arquivo-web/npm-debug.log*
arquivo-web/yarn-debug.log*
arquivo-web/yarn-error.log*

# Logs
arquivo-web/logs
arquivo-web/*.log
arquivo-web/npm-debug.log*
arquivo-web/yarn-debug.log*
arquivo-web/yarn-error.log*
arquivo-web/pnpm-debug.log*
arquivo-web/lerna-debug.log*

node_modules
arquivo-web/dist
arquivo-web/dist-ssr
arquivo-web/*.local

# Editor directories and files
arquivo-web/.vscode/*
arquivo-web/!.vscode/extensions.json
arquivo-web/.idea
arquivo-web/.DS_Store
arquivo-web/*.suo
arquivo-web/*.ntvs*
arquivo-web/*.njsproj
arquivo-web/*.sln
arquivo-web/*.sw?



# dependencies
arquivo-web-client/node_modules
arquivo-web-client/.pnp
arquivo-web-client/.pnp.js

# testing
arquivo-web-client/coverage

# production
arquivo-web-client/build

# misc
arquivo-web-client/.env
arquivo-web-client/vite.config.js
arquivo-web-client/.DS_Store
arquivo-web-client/.env.local
arquivo-web-client/.env.development.local
arquivo-web-client/.env.test.local
arquivo-web-client/.env.production.local

arquivo-web-client/npm-debug.log*
arquivo-web-client/yarn-debug.log*
arquivo-web-client/yarn-error.log*

# Logs
arquivo-web-client/logs
arquivo-web-client/*.log
arquivo-web-client/npm-debug.log*
arquivo-web-client/yarn-debug.log*
arquivo-web-client/yarn-error.log*
arquivo-web-client/pnpm-debug.log*
arquivo-web-client/lerna-debug.log*

node_modules
arquivo-web-client/dist
arquivo-web-client/dist-ssr
arquivo-web-client/*.local

# Editor directories and files
arquivo-web-client/.vscode/*
arquivo-web-client/!.vscode/extensions.json
arquivo-web-client/.idea
arquivo-web-client/.DS_Store
arquivo-web-client/*.suo
arquivo-web-client/*.ntvs*
arquivo-web-client/*.njsproj
arquivo-web-client/*.sln
arquivo-web-client/*.sw?
