[Unit]
Description=Arquivo crawler
After=network.target multi-user.target

[Service]
Type=simple
EnvironmentFile=/etc/default/arquivo-crawler
ExecStart=/opt/25abril/arquivo-crawler/run.sh
User=arquivo
SyslogIdentifier=ArquivoCrawler
Restart=always

[Install]
WantedBy=multi-user.target
