/* Center the search form and apply minimal styles */
.article-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%; /* Adjust width as percentage */
  height: 50%; /* Adjust height as percentage */
  max-width: 700px; /* Optional: Set maximum width */
  margin: 0 auto;
  padding: 20px 0;
  position: absolute; /* Position relative to the viewport */
  top: 50%; /* Position from the top */
  left: 50%; /* Position from the left */
  transform: translate(-50%, -50%); /* Move the form back by 50% of its own width and height to truly center it */
}

.article-search-input {
  width: 80%;
  padding: 18px 24px;
  font-size: 20px;
  font-family: 'Mona Sans Condensed', sans-serif;
  font-weight: 400;
  color: #333;
  border: 2px solid #a5a5a5;
  border-radius: 30px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.article-search-input::placeholder {
  color: #888;
}

.article-search-input:focus {
  outline: none;
  border-color: #333;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.article-search-input:hover {
  border-color: #333;
}

/* Style for the submit button (image) */
button {
  transform: rotate(25deg);
  background: none;
  border: none;
  cursor: pointer;
}

button img {
  width: 50px;  /* Adjust size of the image */
  height: 60px;
}

/* Optional: Add hover effect to the image button */
button:hover img {
  opacity: 0.8;
}

/* Basic Sidebar styles */
/* For smaller screens, adjust sidebar width */
@media (max-width: 768px) {
  .article-search-input {
    width: 50%; /* Adjust to smaller size when the screen is smaller */
    margin-left: 28%; /* Adjust margin to center the form */
    height: 40px; /* Adjust height for smaller screens */

  }
}

/* For even smaller screens or mobile devices, further reduce width */
@media (max-width: 480px) {
  .article-search-input {
    width: 50%; /* Make sidebar even smaller */
    margin-left: 28%; /* Adjust margin to center the form */
    height: 40px; /* Adjust height for smaller screens */
  }
}

.chip-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5%; /* Ensure spacing above the chips */
    justify-content: center; /* Center the chips horizontally */
    z-index: 1; /* Ensure chips are above other elements */
}

/* Ensure chips are styled properly */
.chip {
    padding: 4px 8px; /* Smaller padding for compact size */
    font-size: 14px; /* Reduce font size */
    border-radius: 12px; /* Smaller border radius */
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #000;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s, color 0.3s;
}

.chip:hover {
    background-color: #e0e0e0;
}

.chip-selected {
    background-color: #d32f2f; /* Replace with the red color from favicon */
    color: #fff;
    border-color: #d32f2f; /* Match the border color with the background */
}