.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: fixed;
    top: 80px;
    z-index: 1000;
}

.search-bar {
    display: flex;
    gap: 8px;
}

.search-input {
    width: 300px;
    padding: 8px 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}


@media (max-width: 600px) {
    .search-container {
        flex-direction: column;
        align-items: center;
        top: 60px;
        margin-top: 10%;
        margin-left: 10%;
    }

    .search-bar {
        flex-direction: column;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        width: 100%;
    }
}